.label,
.button {
  margin-right: .5rem;
}

.inputContainer {
  margin-bottom: 1rem;
}

.bodyImage {
  background-image: url("favifaery.png");
  background-repeat: no-repeat;
  background-size: 400px;
  display: flex;
  justify-content: center;
  height: 100%;
}