nav {
  top: 0; 
  width: 100%;
  height: 35px;
  display: flex;
  position: fixed; 
  background-color: #091a01;
  opacity: 80%;
  border-radius: 1px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.788); 
}

nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

a {
  color: rgb(43, 121, 27);
}
a:hover {
  color: rgb(58, 155, 38);
}

body {
  padding-top: 70px;
  background-color: #0d0018;
}

li {
  color: rgb(43, 121, 27);
}

h1 {
  color: rgb(43, 121, 27);
}

h2 {
  color: rgb(43, 121, 27);
}

label {
  color: rgb(43, 121, 27);
  font-size: 32px;
  display: flex;
  padding: 12px;
}

img { 
  height: 600px;
  width: 1000px;
  align-items: center;
}

main {
  align-items: center;
}

p {
  color: rgb(43, 121, 27);
}