nav {
  top: 0; 
  width: 100%;
  height: 35px;
  display: flex;
  position: fixed; 
  background-color: #091a01;
  opacity: 80%;
  border-radius: 1px;
  border-bottom: 4px solid rgba(0, 0, 0, 0.788); 
}

nav ul {
  width: 100%;
  display: flex;
  list-style: none;
  font-weight: bold;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

a {
  color: rgb(43, 121, 27);
}
a:hover {
  color: rgb(58, 155, 38);
}

body {
  padding-top: 70px;
  background-color: #0d0018;
}

li {
  color: rgb(43, 121, 27);
}

h1 {
  color: rgb(43, 121, 27);
}

h2 {
  color: rgb(43, 121, 27);
}

label {
  color: rgb(43, 121, 27);
  font-size: 32px;
  display: flex;
  padding: 12px;
}

img { 
  height: 600px;
  width: 1000px;
  align-items: center;
}

main {
  align-items: center;
}

p {
  color: rgb(43, 121, 27);
}

.label,
.button {
  margin-right: .5rem;
}

.inputContainer {
  margin-bottom: 1rem;
  
}

.input {
  box-sizing: border-box;
  height: 30px;
  border-radius: 4px;
}

.textarea { 
  height: 150px;
  box-sizing: border-box;
  border-radius: 4px;
}

.profile {
  height: 400px;
  width: 400px;
}

.image {
  height: 500px;
  width: 600px;
}

.bodyImage{
  display: flex;
  justify-content: center;
} 

.button{
  cursor: pointer;
  border-radius: 10px;
  border: solid rgb(5, 68, 8);
  background-color: rgb(36, 5, 54);
  color: whitesmoke;
  font-size: 24px;
} 

.body{
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  height: 420px;
  border-radius: 5px;
}

.img {
  height: 300px;
  width: 450px;
}

.container h2 {
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  overflow: auto;
  line-height: 1.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
	word-break: break-all;
  text-align-last: left;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.superstitionList {
  gap: 200px;
  display: grid;
  padding: 21px;
  grid-template-columns: repeat(3, 1fr);
}

.profileList{
  display: grid;
  padding: 21px;
  grid-template-columns: repeat(3, 1fr);
}